@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.navbar
{
    background-color: rgb(79, 207, 79);
}

.flex-nav
{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}

.navbar h2
{
    padding: 0em 1em;
}

.navbar .side ul
{
    display: flex;
    height: auto;
    list-style: none;
}


.navbar .side ul li
{
    padding: 0em 1em;
}


/* CARDS */
.card
{
    position: relative;
    color: #333;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 2em 0em;
}

.text-center
{
    text-align: center;
}

.flex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


img
{
    max-width: 400px;
    padding: 2em 1em;
    height: auto;
}

.flex .joke > *
{
    padding: 0.3em 0em;
}

.flex .joke
{
    padding: 0em 2em;
}

.red
{
    color: red;
}

.err
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 90;
    font-size: 10em;
}

.red p
{
    padding: 1em 0em;
}


button.btn
{
    background: rgb(235, 235, 235);
    color: black;
    border: none;
    padding: 1em;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.btn-one
{
    display: none;
}

.btn-flex
{
    flex-direction: row;
    align-items: center;
}

.btn-flex > *
{
    padding: 0em 0.3em;
}

input[type="text"]:focus
{
    outline: none;
}

/* FOOTER */

footer
{
    padding: 2em;
    background: rgb(124, 226, 156);
    width: 100%;
    color: white;
    margin: 2em 0em 0em 0em;
    font-size: 1.2em;
}


/* TOP FLEX */
.top-flex
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-flex > *
{
    width: 100%;
    padding: 1em;
    margin: 1em;
}

/* CONTAINER */
.container
{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* Joke number */
.jokeNum
{
    padding: 1em 0em 0em 0em;
    font-size: 1.3em;
    font-weight: 900;
    color: #333;
}


/* ALERT */
.alert
{
    font-weight: bold;
    padding: 0.5em;
    margin-top: 1.2em;
    border-radius: 6px;
}

.red
{
    background: rgb(255, 201, 209);
    color: red;
}


.green
{
    background: lightgreen;
    color: rgb(0, 118, 0);
}

@media(max-width: 768px)
{
    img
    {
        width: 100%;
    }
}